* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: left;
    height: 70px;
    align-items: center;
    font-size: 16px;
    padding-left: 25px;
}

.nav-liste {
    list-style-type: none;

}

.nav-liste .liste-item {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: ease-in;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0.863);
}

.nav-logo {
    width: 40%;
}